body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header{
  background-color: #be1010;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  position: relative;
  color: #f1f3f5;
  padding-left: 35%;
}

.flex{
  display: flex;
}

#form{
  position: relative;
  overflow: visible;
}

footer{
  background: #be1010;
  height: 67px;
  width: 100%;
  align-items: center;
  display: flex;  
  z-index: 4;
  color: #ffff;
  justify-content: center;
}

.adocao_main{
  padding: 42px 20px 24px;
  flex: 1;
}

#form_cena{
  width: 635px;
  height: 738px;
  left: 0;
  border-right: 3px solid rgb(99, 19, 19);;
}

#tabela{
  width: 1285px; 
  height: 738px;
  background-color: #9E1B1B;
  position: relative;
}

.doacao_texto,
.doacao_titulo{
  background-color: #FFDFDF;
  padding: 10px 20px;
  margin: 37px 30px;
  border-radius: 20px;
}

.card{
  background: #FFDFDF;
  border-radius: 14px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  margin: 30px;
}

.card input[type="text"]{
  background: transparent;
  border: 0;
  border-bottom: 3px solid rgba(49, 17, 17, 0.35);
  font-size: 20px;
  padding: 7px 0;
  color: #110404;
  outline: none;
}

#botao_enviar{
  display: flex;
  justify-content: flex-end;
  margin-right: 33px;
}

#botao_enviar input[type="submit"]{
  background: #FFDFDF;
  border: 0;
  border-radius: 20px;
  padding: 11px 19px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.tabela_titulo{
  color: #ffff;
  text-align: center;
}