body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(158, 27, 27);
}

header{
  background-color: #be1010;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  position: relative;
  color: #f1f3f5;
  padding-left: 35%;
}

.flex{
  display: flex;
  height: 100%;
}

#form{
  overflow: visible;
}

footer{
  background: #be1010;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.doacao_main{
  flex: 1;
  min-height: 0;
  margin: 0;
}

#form_cena{
  width: 635px;
  background-color: #ffff;
  height: 100%;
  overflow-y: auto;
  left: 0;
  border-right: 3px solid rgb(99, 19, 19);
}

#tabela_cena{
  width: 1285px; 
  height: 100%;
  background-color: #9E1B1B;
}

.doacao_texto,
.doacao_titulo{
  background-color: #FFDFDF;
  padding: 10px 20px;
  margin: 45px 30px;
  border-radius: 20px;
}

.card{
  background: #FFDFDF;
  border-radius: 14px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  margin: 30px;
}

.card input[type="text"]{
  background: transparent;
  border: 0;
  border-bottom: 3px solid rgba(49, 17, 17, 0.35);
  font-size: 20px;
  padding: 7px 0;
  color: #110404;
  outline: none;
}

.botao_container{
  display: flex;
  justify-content: flex-end;
  margin-right: 33px;
}

.botao_container[hidden]{
  display: none !important;
}

#botao_proximo,
#botao_enviar{
  background: #FFDFDF;
  border: 0;
  border-radius: 20px;
  padding: 11px 19px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.tabela{
  color: #ffff;
  text-align: center;
}

#card_nome[hidden],
#card_email[hidden],
#card_idade[hidden],
#card_peso[hidden],
#card_tipo_sanguineo[hidden],
#card_telefone[hidden],
#card_cidade[hidden],
#card_estado[hidden],
#botao_proximo[hidden],
#botao_enviar[hidden]{
  display: none !important;
}
